In [ ]:
List       : Ordered,    changeable,        duplicates
Tuple      : Ordered,    unchangeable,      duplicates
Set        : Unordered,  addable/removable, no duplicates
Dictonary  : Unordered,  changeable,        no duplicates

In [1]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':35, 'C': 'ABC'}

In [2]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [11]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])
#print(D["twothree"]) #will get error

3
3
True
twothree

In [13]:
D2 = {'A':L, 'B':T, 'C':S, 'D':D}

In [14]:
D2['A'][3]

'name'

In [17]:
K = D2['D']

In [18]:
K

{23: 'twothree', 'B': 35, 'C': 'ABC'}

In [20]:
for x in K:
    print(x,K[x])

23 twothree
B 35
C ABC

In [21]:
L3 =[L,T,D,23,'GAME']

In [22]:
L3

[[1, 3, 4.9, 'name', 3],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 35, 'C': 'ABC'},
 23,
 'GAME']

In [23]:
type(L3)

list

In [24]:
type(L3[2])

dict

In [25]:
l4 = [x**2 for x in range(10)]

In [26]:
l4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
23 in D

True

In [1]:
""" Let say you are a teacher amd you have different student 
records containing id of a student and the marks list in each subject 
where different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer 
and want to compute the average marks of each student and display"""

def GetDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input("Enter No to quit insertion: ")
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [2]:
studentData = GetDataFromUser()

Enter student ID: 12
Enter the marks by comma separated values: 23,34,56,77
Enter No to quit insertion: fdsf
Enter student ID: 13
Enter the marks by comma separated values: 45,22,56,31
Enter No to quit insertion: ewdaa
Enter student ID: 14
Enter the marks by comma separated values: 66,44,99,34
Enter No to quit insertion: no

In [3]:
studentData

{'12': ['23', '34', '56', '77'],
 '13': ['45', '22', '56', '31'],
 '14': ['66', '44', '99', '34']}

In [4]:
a = studentData['12']
b = sum(int(c) for c in a)/len(a)
b

47.5

In [5]:
for x,y in studentData.items():
    h = studentData[x]
    print(h)
    c = sum(int(d) for d in h)/len(h)
    print(f'Student ID is {x} and their average is {round(c,2)}')

['23', '34', '56', '77']
Student ID is 12 and their average is 47.5
['45', '22', '56', '31']
Student ID is 13 and their average is 38.5
['66', '44', '99', '34']
Student ID is 14 and their average is 60.75

In [6]:
def average(avg):
    while True: 
        q = input("Do you want to know all the students average or individually: ").lower()
        if q[0] == 'a':
            for x,y in avg.items():
                h = avg[x]
                c = sum(int(d) for d in h)/len(h)
                print(f'Student ID is {x} and their average is {round(c,2)}')
        elif q[0] == 'i':
            x = input("Enter student average you seek to find: ")
            a = studentData[x]
            c = sum(int(b) for b in a)/len(a)
            print(f'Student ID is {x} and their average is {round(c,2)}')
        elif q[0] == 'e':
            break
        else:
            print('Please enter either a for all or i for individual. Enter e to exit.')
            True

In [7]:
average(studentData)

Do you want to know all the students average or individually: all
Student ID is 12 and their average is 47.5
Student ID is 13 and their average is 38.5
Student ID is 14 and their average is 60.75
Do you want to know all the students average or individually: e

In [10]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [15]:
avgm = getAvgMarks(studentData)

In [18]:
for x in avgm:
    #print(x)
    print(f'Student:{x} got average marks as: {avgm[x]}')

Student:12 got average marks as: 47.5
Student:13 got average marks as: 38.5
Student:14 got average marks as: 60.75