In [2]:
import pandas as pd

In [2]:
print(pd.__version__)

1.0.5

In [5]:
A = pd.Series([2,3,4,5],index=['a','b','c','d'])
A

a    2
b    3
c    4
d    5
dtype: int64

In [6]:
A.values

array([2, 3, 4, 5], dtype=int64)

In [7]:
type(A)

pandas.core.series.Series

In [8]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
A['a']

2

In [10]:
A['a':'c'] #final index included

a    2
b    3
c    4
dtype: int64

In [3]:
grades_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5}
grads = pd.Series(grades_dict)

In [13]:
grads.values

array([4. , 3.5, 3. , 2.5])

In [4]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)

In [25]:
marks

A    85
B    75
C    65
D    55
dtype: int64

In [16]:
marks[0:2] #final index not included

A    85
B    75
dtype: int64

In [11]:
D = pd.DataFrame({'Marks':marks,'Grades':grads})
D

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [12]:
D.T

           A     B     C     D
Marks   85.0  75.0  65.0  55.0
Grades   4.0   3.5   3.0   2.5

In [13]:
D.values

array([[85. ,  4. ],
       [75. ,  3.5],
       [65. ,  3. ],
       [55. ,  2.5]])

In [15]:
D.values[2,1] #row first then column to access information

3.0

In [16]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [17]:
D['ScaledMarks'] = 90*D['Marks']/100

In [18]:
D

   Marks  Grades  ScaledMarks
A     85     4.0         76.5
B     75     3.5         67.5
C     65     3.0         58.5
D     55     2.5         49.5

In [19]:
del D['ScaledMarks']
D

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [20]:
G = D[D['Marks']>70]

In [21]:
G

   Marks  Grades
A     85     4.0
B     75     3.5

In [22]:
A = pd.DataFrame([{'a':1, 'b':4},{'b':-3,'c':9}]) #must create list within dict

In [23]:
A

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0

In [24]:
A.fillna(0) #will add 0 to NaN location

     a  b    c
0  1.0  4  0.0
1  0.0 -3  9.0

In [25]:
A = pd.Series(['a','b','c',], index=[1,3,5])

In [26]:
A

1    a
3    b
5    c
dtype: object

In [27]:
A[1]

'a'

In [28]:
A[1:3]

3    b
5    c
dtype: object

In [29]:
A.loc[1:3] #explicit index

1    a
3    b
dtype: object

In [30]:
A.iloc[1:3] #implicit index

3    b
5    c
dtype: object

In [31]:
D

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [32]:
D.iloc[2,:]

Marks     65.0
Grades     3.0
Name: C, dtype: float64

In [33]:
D.loc[2,:]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [34]:
from sklearn.impute import SimpleImputer

In [35]:
df = pd.read_csv(r'C:\Users\Lenovo Pc\Python for Data Science - Course for Beginners\covid_19_data.csv')

In [36]:
df.head(10) #shows first 10 rows

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [37]:
df.drop(['SNo','Last Update'],axis=1,inplace=True) # inplace True means make that change in df

In [38]:
df.head(10)

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020        Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020      Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020         Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020          Gansu  Mainland China        0.0     0.0        0.0
5      01/22/2020      Guangdong  Mainland China       26.0     0.0        0.0
6      01/22/2020        Guangxi  Mainland China        2.0     0.0        0.0
7      01/22/2020        Guizhou  Mainland China        1.0     0.0        0.0
8      01/22/2020         Hainan  Mainland China        4.0     0.0        0.0
9      01/22/2020          Hebei  Mainland China        1.0     0.0        0.0

In [39]:
df.rename(columns={'ObservationDate':'Date','Province/State':'Province','Country/Region':'Country'},inplace=True)

In [40]:
df.head(10)

         Date   Province         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0
5  01/22/2020  Guangdong  Mainland China       26.0     0.0        0.0
6  01/22/2020    Guangxi  Mainland China        2.0     0.0        0.0
7  01/22/2020    Guizhou  Mainland China        1.0     0.0        0.0
8  01/22/2020     Hainan  Mainland China        4.0     0.0        0.0
9  01/22/2020      Hebei  Mainland China        1.0     0.0        0.0

In [41]:
df['Date'] = pd.to_datetime(df['Date'])

In [42]:
df.head()

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [43]:
df.describe()

          Confirmed         Deaths     Recovered
count  1.562920e+05  156292.000000  1.562920e+05
mean   2.844340e+04     966.090273  1.793232e+04
std    8.809800e+04    3278.110680  9.813018e+04
min   -3.028440e+05    -178.000000 -8.544050e+05
25%    3.900000e+02       5.000000  1.000000e+01
50%    3.410000e+03      67.000000  7.570000e+02
75%    1.597875e+04     486.000000  6.270000e+03
max    1.867721e+06   45974.000000  4.174884e+06

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156292 entries, 0 to 156291
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       156292 non-null  datetime64[ns]
 1   Province   111979 non-null  object
 2   Country    156292 non-null  object
 3   Confirmed  156292 non-null  float64
 4   Deaths     156292 non-null  float64
 5   Recovered  156292 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 7.2+ MB

In [45]:
df = df.fillna('NA')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156292 entries, 0 to 156291
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       156292 non-null  datetime64[ns]
 1   Province   156292 non-null  object
 2   Country    156292 non-null  object
 3   Confirmed  156292 non-null  float64
 4   Deaths     156292 non-null  float64
 5   Recovered  156292 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 7.2+ MB

In [51]:
df2 = df.groupby('Country')[['Country','Confirmed','Deaths','Recovered']].sum().reset_index()

In [52]:
df2.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    226 non-null    object
 1   Confirmed  226 non-null    float64
 2   Deaths     226 non-null    float64
 3   Recovered  226 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [53]:
df2.head(10)

               Country   Confirmed     Deaths   Recovered
0           Azerbaijan         1.0        0.0         0.0
1      ('St. Martin',)         2.0        0.0         0.0
2          Afghanistan   6289387.0   208903.0   4251819.0
3              Albania   1685359.0    45778.0    937725.0
4              Algeria   6560551.0   262137.0   4499006.0
5              Andorra    357859.0    11874.0    262515.0
6               Angola    617276.0    20071.0    252893.0
7  Antigua and Barbuda     16160.0      661.0     13149.0
8            Argentina  80557611.0  1965439.0  61586160.0
9              Armenia   8012941.0   140152.0   5741864.0

In [54]:
df2 = df.groupby(['Country','Date'])[['Country','Date','Confirmed','Deaths','Recovered']].sum().reset_index()

In [55]:
df2.head()

           Country       Date  Confirmed  Deaths  Recovered
0       Azerbaijan 2020-02-28        1.0     0.0        0.0
1  ('St. Martin',) 2020-03-10        2.0     0.0        0.0
2      Afghanistan 2020-02-24        1.0     0.0        0.0
3      Afghanistan 2020-02-25        1.0     0.0        0.0
4      Afghanistan 2020-02-26        1.0     0.0        0.0

In [56]:
df3 = df2[df2['Confirmed']>100]

In [57]:
df3

           Country       Date  Confirmed  Deaths  Recovered
34     Afghanistan 2020-03-27      110.0     4.0        2.0
35     Afghanistan 2020-03-28      110.0     4.0        2.0
36     Afghanistan 2020-03-29      120.0     4.0        2.0
37     Afghanistan 2020-03-30      170.0     4.0        2.0
38     Afghanistan 2020-03-31      174.0     4.0        5.0
...            ...        ...        ...     ...        ...
48949     Zimbabwe 2020-11-11     8667.0   255.0     8046.0
48950     Zimbabwe 2020-11-12     8696.0   255.0     8060.0
48951     Zimbabwe 2020-11-13     8765.0   257.0     8090.0
48952     Zimbabwe 2020-11-14     8786.0   257.0     8096.0
48953     Zimbabwe 2020-11-15     8829.0   257.0     8096.0

[39513 rows x 5 columns]

In [58]:
df3.head(10)

        Country       Date  Confirmed  Deaths  Recovered
34  Afghanistan 2020-03-27      110.0     4.0        2.0
35  Afghanistan 2020-03-28      110.0     4.0        2.0
36  Afghanistan 2020-03-29      120.0     4.0        2.0
37  Afghanistan 2020-03-30      170.0     4.0        2.0
38  Afghanistan 2020-03-31      174.0     4.0        5.0
39  Afghanistan 2020-04-01      237.0     4.0        5.0
40  Afghanistan 2020-04-02      273.0     6.0       10.0
41  Afghanistan 2020-04-03      281.0     6.0       10.0
42  Afghanistan 2020-04-04      299.0     7.0       10.0
43  Afghanistan 2020-04-05      349.0     7.0       15.0